# Environments
.env
.venv
venv/
venv.bak/
env/
__pycache__/
*.pyc
*.pyo

# Video Processing Outputs & Temporary Folders
clips/
stems/
regional_outputs/
final_reels/
uploads/
outputs/

# Media Files
*.mp4
*.wav
*.mp3
*.mov
*.m4a

# Mac OS
.DS_Store

# Editor
.vscode/
.idea/
